@font-face {
    font-family: 'Nicomoji';
    src: font-url('nicomoji-plus_1.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Arciform';
    src: font-url('Arciform.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 